<?xml version="1.0"?>

<!-- top level -->
<robot name="iiwa7" xmlns:xacro="http://www.ros.org/wiki/xacro">

    <!-- include the lbr iiwa macro -->
    <xacro:include filename="$(find lbr_description)/urdf/iiwa7/iiwa7_description.xacro" />
    <!-- <xacro:include filename="$(find robotiq_description)/urdf/robotiq_2f_85_macro.urdf.xacro" /> -->

    <xacro:arg name="sim" default="true" />
    <xacro:arg
        name="system_parameters_path"
        default="$(find lbr_ros2_control)/config/lbr_system_parameters.yaml" />
    <xacro:arg
        name="controllers_path"
        default="$(find lbr_ros2_control)/config/lbr_controllers.yaml" />

    <xacro:arg name="robot_name" default="kuka_blue" />
    <xacro:property name="robot_prefix" value="$(arg robot_name)" />

    <!-- fixed to world, see http://classic.gazebosim.org/tutorials?tut=ros_urdf&cat=connect_ros -->
    <link name="world" />

    <joint name="${robot_prefix}_world_joint" type="fixed">
        <parent link="world" />
        <child link="${robot_prefix}_link_0" />
        <origin xyz="0 0 0" rpy="0 0 0" />
    </joint>

    <!-- iiwa -->
    <xacro:iiwa7
        robot_name="$(arg robot_name)"
        sim="$(arg sim)"
        system_parameters_path="$(arg system_parameters_path)"
        controllers_path="$(arg controllers_path)"
        prefix_model_names="true" />


    <!-- End Effector -->

    <link name="${robot_prefix}_link_ee">
        <inertial>
            <origin rpy="1.57 0 1.57" xyz="0 0 0.055525" />
            <mass value="0.55" />
            <inertia ixx="0.0001" ixy="0.0" ixz="0.0" iyy="0.0001" iyz="0.0" izz="0.0001" />
        </inertial>
        <visual>
            <origin rpy="0 3.14 0" xyz="0.0 0.0 0.0" />
            <geometry>
                <mesh filename="package://lbr_description/meshes/iiwa7/visual/aniket_gripper.dae" scale="0.001 0.001 0.001"/>
            </geometry>
        </visual>
        <collision>
            <origin rpy="0 3.14 0" xyz="0.0 0.0 0.0" />
            <geometry>
                <mesh filename="package://lbr_description/meshes/iiwa7/collision/aniket_gripper.stl" scale="0.001 0.001 0.001"/>
            </geometry>
        </collision>
    </link>

    <joint name="${robot_prefix}_joint_ee" type="fixed">
        <parent link="${robot_prefix}_link_7"/>
        <child link="${robot_prefix}_link_ee"/>
        <origin rpy="0 0 3.14" xyz="0 0 0.035"/>
    </joint>

    <!-- TCP Link -->
    <link name="${robot_prefix}_link_tcp"/>

    <joint name="${robot_prefix}_joint_tcp" type="fixed">
        <parent link="${robot_prefix}_link_ee"/>
        <child link="${robot_prefix}_link_tcp"/>
        <!-- <origin rpy="0 0 0" xyz="0.00051 -0.00012 0.23332"/> NO FORCE TOOL -->
        <!-- <origin rpy="0 0 0" xyz="0.00243 0.0003 0.22498"/> -->
        <origin rpy="0 0 0" xyz="0.0 0.0 0.33149"/>
    </joint>
</robot>
