<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">
    <xacro:macro
        name="lbr_gazebo"
        params="robot_name:=^|lbr controllers_path:=^|'$(find lbr_ros2_control)/config/lbr_controllers.yaml' prefix_model_names:=^=false">
        <xacro:property
            name="use_prefix"
            value="${str(prefix_model_names).lower() == 'true'}" />
        <xacro:property
            name="name_prefix"
            value="${robot_name + '_' if use_prefix else ''}" />

        <!-- ros_control-plugin -->
        <gazebo>
            <plugin name="gazebo_ros2_control" filename="libgazebo_ros2_control.so">
                <parameters>${controllers_path}</parameters>
                <ros>
                    <namespace>/${robot_name}</namespace>
                    <!-- remapping for controller manager inside Gazebo plugin -->
                    <remapping>~/robot_description:=robot_description</remapping>
                </ros>
            </plugin>
        </gazebo>

        <!-- macros -->
        <xacro:macro name="gazebo_link_reference" params="name">
            <gazebo reference="${name}">
                <mu1>0.2</mu1>
                <mu2>0.2</mu2>
            </gazebo>
        </xacro:macro>

        <xacro:macro name="gazebo_joint_reference" params="name">
            <gazebo reference="${name}">
                <implicitSpringDamper>true</implicitSpringDamper>
                <provideFeedback>true</provideFeedback>
            </gazebo>
        </xacro:macro>

        <!-- references -->
        <xacro:gazebo_link_reference name="${name_prefix}link_0" />
        <xacro:gazebo_joint_reference name="${name_prefix}A1" />
        <xacro:gazebo_link_reference name="${name_prefix}link_1" />
        <xacro:gazebo_joint_reference name="${name_prefix}A2" />
        <xacro:gazebo_link_reference name="${name_prefix}link_2" />
        <xacro:gazebo_joint_reference name="${name_prefix}A3" />
        <xacro:gazebo_link_reference name="${name_prefix}link_3" />
        <xacro:gazebo_joint_reference name="${name_prefix}A4" />
        <xacro:gazebo_link_reference name="${name_prefix}link_4" />
        <xacro:gazebo_joint_reference name="${name_prefix}A5" />
        <xacro:gazebo_link_reference name="${name_prefix}link_5" />
        <xacro:gazebo_joint_reference name="${name_prefix}A6" />
        <xacro:gazebo_link_reference name="${name_prefix}link_6" />
        <xacro:gazebo_joint_reference name="${name_prefix}A7" />
        <xacro:gazebo_link_reference name="${name_prefix}link_7" />
    </xacro:macro>
</robot>
