.vscode
**/__pycache__
COLCON_IGNORE
build/
install/
log/
src/lbr_fri_ros2_stack/lbr_description/urdf/kuka_blue/kuka_blue.urdf
**/.DS_Stores
**/__pycache__
**/no-sync/*
**/src/service_launch/takes/*
AGENTS.md
.gitignore
CLAUDE.md
