<?xml version="1.0"?>

<!-- top level -->
<robot name="iiwa7" xmlns:xacro="http://www.ros.org/wiki/xacro">

    <!-- include the lbr iiwa macro -->
    <xacro:include filename="$(find lbr_description)/urdf/iiwa7/iiwa7_description.xacro" />

    <xacro:arg name="robot_name" default="lbr" />
    <xacro:arg name="sim" default="true" />
    <xacro:arg
        name="system_parameters_path"
        default="$(find lbr_ros2_control)/config/lbr_system_parameters.yaml" />

    <!-- fixed to world, see http://classic.gazebosim.org/tutorials?tut=ros_urdf&cat=connect_ros -->
    <link name="world" />

    <!-- joint between world and link_0 -->
    <joint name="world_joint" type="fixed">
        <parent link="world" />
        <child link="link_0" />
        <!-- <origin xyz="0.8 0.7 -0.4" rpy="0 0 -2.356"/> -->
        <origin xyz="0.8 0.7 -0.55" rpy="0 0 -2.356"/>
    </joint>

    <!-- iiwa -->
    <xacro:iiwa7
        robot_name="$(arg robot_name)"
        sim="$(arg sim)"
        system_parameters_path="$(arg system_parameters_path)" />

    <!-- End Effector -->
    <link name="link_ee">
        <inertial>
            <origin rpy="1.57 0 1.57" xyz="0 0 0.055525" />
            <mass value="0.55" />
            <inertia ixx="0.0001" ixy="0.0" ixz="0.0" iyy="0.0001" iyz="0.0" izz="0.0001" />
        </inertial>
        <visual>
            <origin rpy="1.57 0 1.57" xyz="0.0 0.0 0.0" />
            <geometry>
                <mesh filename="package://lbr_description/meshes/iiwa7/visual/chisel.dae" scale="0.01 0.01 0.01"/>
            </geometry>
        </visual>
        <collision>
            <origin rpy="1.57 0 1.57" xyz="0.0 0.0 0.0" />
            <geometry>
                <mesh filename="package://lbr_description/meshes/iiwa7/collision/chisel.stl" scale="0.001 0.001 0.001"/>
            </geometry>
        </collision>
    </link>
    
    <joint name="joint_ee" type="fixed">
        <parent link="link_7"/>
        <child link="link_ee"/>
        <origin rpy="0 0 3.14" xyz="0 0 0.035"/>
    </joint>

    <!-- TCP Link -->
    <link name="link_tcp"/>

    <joint name="joint_tcp" type="fixed">
        <parent link="link_ee"/>
        <child link="link_tcp"/>
        <origin rpy="0 0 0" xyz="0.00051 -0.00012 0.23332"/>
    </joint>
</robot>
