<?xml version="1.0"?>
<robot xmlns:xacro="http://wiki.ros.org/xacro" name="robotiq_gripper">
    <!-- parameters -->
    <xacro:arg name="use_fake_hardware" default="true" />
    <xacro:arg name="com_port" default="/dev/ttyUSB0" />
    <xacro:arg name="baudrate" default="115200" />
    <xacro:arg name="timeout" default="0.5" />
    <xacro:arg name="slave_address" default="0x09" />

    <!-- Import macros -->
    <xacro:include filename="$(find robotiq_description)/urdf/robotiq_2f_85_macro.urdf.xacro" />

    <link name="world" />
    <xacro:robotiq_gripper
        name="RobotiqGripperHardwareInterface"
        prefix=""
        parent="world"
        use_fake_hardware="$(arg use_fake_hardware)"
        com_port="$(arg com_port)"
        baudrate="$(arg baudrate)"
        timeout="$(arg timeout)"
        slave_address="$(arg slave_address)">
        <origin xyz="0 0 0" rpy="0 0 0" />
    </xacro:robotiq_gripper>
</robot>
