<?xml version="1.0"?>

<robot xmlns:xacro="http://www.ros.org/wiki/xacro">
    <!-- robot as extracted via https://github.com/syuntoku14/fusion2urdf -->
    <xacro:macro
        name="iiwa7"
        params="robot_name:=^|lbr sim:=^=true system_parameters_path:=^|'$(find lbr_ros2_control)/config/lbr_system_parameters.yaml' controllers_path:=^|'$(find lbr_ros2_control)/config/lbr_controllers.yaml' prefix_model_names:=^=false">

        <!-- includes -->
        <xacro:include filename="$(find lbr_description)/gazebo/lbr_gazebo.xacro" />
        <xacro:include filename="$(find lbr_ros2_control)/config/lbr_system_interface.xacro" />

        <!-- joint limits via yaml -->
        <xacro:property
            name="joint_limits_path"
            value="$(find lbr_description)/urdf/iiwa7/joint_limits.yaml" />
        <xacro:property name="base_joint_limits" value="${xacro.load_yaml(joint_limits_path)}" />
        <xacro:property
            name="use_prefix"
            value="${str(prefix_model_names).lower() == 'true'}" />
        <xacro:property
            name="name_prefix"
            value="${robot_name + '_' if use_prefix else ''}" />
        <xacro:property
            name="joint_limits"
            value="${dict([
                (name_prefix + 'A1', base_joint_limits['A1']),
                (name_prefix + 'A2', base_joint_limits['A2']),
                (name_prefix + 'A3', base_joint_limits['A3']),
                (name_prefix + 'A4', base_joint_limits['A4']),
                (name_prefix + 'A5', base_joint_limits['A5']),
                (name_prefix + 'A6', base_joint_limits['A6']),
                (name_prefix + 'A7', base_joint_limits['A7']),
            ]) if use_prefix else base_joint_limits}" />

        <!-- constants -->
        <xacro:property name="PI" value="3.1415926535897931" />
        <xacro:property name="joint_damping" value="10.0" />
        <xacro:property name="joint_friction" value="0.1" />

        <!-- canonical link and joint names -->
        <xacro:property name="link_0_name" value="${name_prefix + 'link_0'}" />
        <xacro:property name="link_1_name" value="${name_prefix + 'link_1'}" />
        <xacro:property name="link_2_name" value="${name_prefix + 'link_2'}" />
        <xacro:property name="link_3_name" value="${name_prefix + 'link_3'}" />
        <xacro:property name="link_4_name" value="${name_prefix + 'link_4'}" />
        <xacro:property name="link_5_name" value="${name_prefix + 'link_5'}" />
        <xacro:property name="link_6_name" value="${name_prefix + 'link_6'}" />
        <xacro:property name="link_7_name" value="${name_prefix + 'link_7'}" />

        <xacro:property name="joint_a1_name" value="${name_prefix + 'A1'}" />
        <xacro:property name="joint_a2_name" value="${name_prefix + 'A2'}" />
        <xacro:property name="joint_a3_name" value="${name_prefix + 'A3'}" />
        <xacro:property name="joint_a4_name" value="${name_prefix + 'A4'}" />
        <xacro:property name="joint_a5_name" value="${name_prefix + 'A5'}" />
        <xacro:property name="joint_a6_name" value="${name_prefix + 'A6'}" />
        <xacro:property name="joint_a7_name" value="${name_prefix + 'A7'}" />

        <!-- macros for simulation and real hardware -->
        <xacro:lbr_gazebo
            robot_name="${robot_name}"
            controllers_path="${controllers_path}"
            prefix_model_names="${use_prefix}" />
        <xacro:lbr_system_interface
            sim="${sim}"
            joint_limits="${joint_limits}"
            system_parameters_path="${system_parameters_path}"
            robot_name="${robot_name}"
            prefix_model_names="${use_prefix}" />

        <link name="${link_0_name}">
            <inertial>
                <origin rpy="0 0 0" xyz="-0.012857 0.0 0.069964" />
                <mass value="4.855658" />
                <inertia ixx="0.017839" ixy="0.0" ixz="0.000781" iyy="0.022294" iyz="0.0"
                    izz="0.021334" />
            </inertial>
            <visual>
                <origin rpy="0 0 0" xyz="0 0 0" />
                <geometry>
                    <mesh filename="package://lbr_description/meshes/iiwa7/visual/link_0.dae" />
                </geometry>
            </visual>
            <collision>
                <origin rpy="0 0 0" xyz="0 0 0" />
                <geometry>
                    <mesh filename="package://lbr_description/meshes/iiwa7/collision/link_0.stl" />
                </geometry>
            </collision>
        </link>

        <joint name="${joint_a1_name}" type="revolute">
            <origin rpy="0 0 0" xyz="0.0 0.0 0.1475" />
            <parent link="${link_0_name}" />
            <child link="${link_1_name}" />
            <axis xyz="0.0 0.0 1.0" />
            <limit
                effort="${joint_limits[joint_a1_name]['effort']}"
                lower="${joint_limits[joint_a1_name]['lower'] * PI / 180}"
                upper="${joint_limits[joint_a1_name]['upper'] * PI / 180}"
                velocity="${joint_limits[joint_a1_name]['velocity'] * PI / 180}" />
            <dynamics damping="${joint_damping}" friction="${joint_friction}" />
        </joint>

        <link name="${link_1_name}">
            <inertial>
                <origin rpy="0 0 0" xyz="0.0 -0.034819 0.123299" />
                <mass value="3.394011" />
                <inertia ixx="0.021383" ixy="0.0" ixz="0.0" iyy="0.020403" iyz="0.003797"
                    izz="0.007563" />
            </inertial>
            <visual>
                <origin rpy="0 0 0" xyz="0.0 0.0 -0.1475" />
                <geometry>
                    <mesh filename="package://lbr_description/meshes/iiwa7/visual/link_1.dae" />
                </geometry>
            </visual>
            <collision>
                <origin rpy="0 0 0" xyz="0.0 0.0 -0.1475" />
                <geometry>
                    <mesh filename="package://lbr_description/meshes/iiwa7/collision/link_1.stl" />
                </geometry>
            </collision>
        </link>

        <joint name="${joint_a2_name}" type="revolute">
            <origin rpy="0 0 0" xyz="0.0 -0.0105 0.1925" />
            <parent link="${link_1_name}" />
            <child link="${link_2_name}" />
            <axis xyz="0.0 1.0 0.0" />
            <limit
                effort="${joint_limits[joint_a2_name]['effort']}"
                lower="${joint_limits[joint_a2_name]['lower'] * PI / 180}"
                upper="${joint_limits[joint_a2_name]['upper'] * PI / 180}"
                velocity="${joint_limits[joint_a2_name]['velocity'] * PI / 180}" />
            <dynamics damping="${joint_damping}" friction="${joint_friction}" />
        </joint>

        <link name="${link_2_name}">
            <inertial>
                <origin rpy="0 0 0" xyz="0.0 0.039793 0.086944" />
                <mass value="4.031991" />
                <inertia ixx="0.031697" ixy="0.0" ixz="0.0" iyy="0.03008" iyz="0.005889"
                    izz="0.009666" />
            </inertial>
            <visual>
                <origin rpy="0 0 0" xyz="0.0 0.0105 -0.34" />
                <geometry>
                    <mesh filename="package://lbr_description/meshes/iiwa7/visual/link_2.dae" />
                </geometry>
            </visual>
            <collision>
                <origin rpy="0 0 0" xyz="0.0 0.0105 -0.34" />
                <geometry>
                    <mesh filename="package://lbr_description/meshes/iiwa7/collision/link_2.stl" />
                </geometry>
            </collision>
        </link>

        <joint name="${joint_a3_name}" type="revolute">
            <origin rpy="0 0 0" xyz="0.0 0.0105 0.2075" />
            <parent link="${link_2_name}" />
            <child link="${link_3_name}" />
            <axis xyz="0.0 0.0 1.0" />
            <limit
                effort="${joint_limits[joint_a3_name]['effort']}"
                lower="${joint_limits[joint_a3_name]['lower'] * PI / 180}"
                upper="${joint_limits[joint_a3_name]['upper'] * PI / 180}"
                velocity="${joint_limits[joint_a3_name]['velocity'] * PI / 180}" />
            <dynamics damping="${joint_damping}" friction="${joint_friction}" />
        </joint>

        <link name="${link_3_name}">
            <inertial>
                <origin rpy="0 0 0" xyz="0.0 0.034819 0.123299" />
                <mass value="3.394011" />
                <inertia ixx="0.021383" ixy="0.0" ixz="0.0" iyy="0.020403" iyz="-0.003797"
                    izz="0.007563" />
            </inertial>
            <visual>
                <origin rpy="0 0 0" xyz="0.0 0.0 -0.5475" />
                <geometry>
                    <mesh filename="package://lbr_description/meshes/iiwa7/visual/link_3.dae" />
                </geometry>
            </visual>
            <collision>
                <origin rpy="0 0 0" xyz="0.0 0.0 -0.5475" />
                <geometry>
                    <mesh filename="package://lbr_description/meshes/iiwa7/collision/link_3.stl" />
                </geometry>
            </collision>
        </link>

        <joint name="${joint_a4_name}" type="revolute">
            <origin rpy="0 0 0" xyz="0.0 0.0105 0.1925" />
            <parent link="${link_3_name}" />
            <child link="${link_4_name}" />
            <axis xyz="0.0 -1.0 0.0" />
            <limit
                effort="${joint_limits[joint_a4_name]['effort']}"
                lower="${joint_limits[joint_a4_name]['lower'] * PI / 180}"
                upper="${joint_limits[joint_a4_name]['upper'] * PI / 180}"
                velocity="${joint_limits[joint_a4_name]['velocity'] * PI / 180}" />
            <dynamics damping="${joint_damping}" friction="${joint_friction}" />
        </joint>

        <link name="${link_4_name}">
            <inertial>
                <origin rpy="0 0 0" xyz="0.0 -0.039793 0.086944" />
                <mass value="4.031989" />
                <inertia ixx="0.031695" ixy="0.0" ixz="0.0" iyy="0.030079" iyz="-0.005889"
                    izz="0.009665" />
            </inertial>
            <visual>
                <origin rpy="0 0 0" xyz="0.0 -0.0105 -0.74" />
                <geometry>
                    <mesh filename="package://lbr_description/meshes/iiwa7/visual/link_4.dae" />
                </geometry>
            </visual>
            <collision>
                <origin rpy="0 0 0" xyz="0.0 -0.0105 -0.74" />
                <geometry>
                    <mesh filename="package://lbr_description/meshes/iiwa7/collision/link_4.stl" />
                </geometry>
            </collision>
        </link>

        <joint name="${joint_a5_name}" type="revolute">
            <origin rpy="0 0 0" xyz="0.0 -0.0105 0.2075" />
            <parent link="${link_4_name}" />
            <child link="${link_5_name}" />
            <axis xyz="0.0 0.0 1.0" />
            <limit
                effort="${joint_limits[joint_a5_name]['effort']}"
                lower="${joint_limits[joint_a5_name]['lower'] * PI / 180}"
                upper="${joint_limits[joint_a5_name]['upper'] * PI / 180}"
                velocity="${joint_limits[joint_a5_name]['velocity'] * PI / 180}" />
            <dynamics damping="${joint_damping}" friction="${joint_friction}" />
        </joint>

        <link name="${link_5_name}">
            <inertial>
                <origin rpy="0 0 0" xyz="0.0 -0.029824 0.076267" />
                <mass value="1.529239" />
                <inertia ixx="0.008485" ixy="0.0" ixz="0.0" iyy="0.007136" iyz="0.002806"
                    izz="0.003848" />
            </inertial>
            <visual>
                <origin rpy="0 0 0" xyz="0.0 0.0 -0.9475" />
                <geometry>
                    <mesh filename="package://lbr_description/meshes/iiwa7/visual/link_5.dae" />
                </geometry>
            </visual>
            <collision>
                <origin rpy="0 0 0" xyz="0.0 0.0 -0.9475" />
                <geometry>
                    <mesh filename="package://lbr_description/meshes/iiwa7/collision/link_5.stl" />
                </geometry>
            </collision>
        </link>

        <joint name="${joint_a6_name}" type="revolute">
            <origin rpy="0 0 0" xyz="0.0 -0.0707 0.1925" />
            <parent link="${link_5_name}" />
            <child link="${link_6_name}" />
            <axis xyz="0.0 1.0 0.0" />
            <limit
                effort="${joint_limits[joint_a6_name]['effort']}"
                lower="${joint_limits[joint_a6_name]['lower'] * PI / 180}"
                upper="${joint_limits[joint_a6_name]['upper'] * PI / 180}"
                velocity="${joint_limits[joint_a6_name]['velocity'] * PI / 180}" />
            <dynamics damping="${joint_damping}" friction="${joint_friction}" />
        </joint>

        <link name="${link_6_name}">
            <inertial>
                <origin rpy="0 0 0" xyz="0.0 0.07102 0.00495" />
                <mass value="2.403626" />
                <inertia ixx="0.007067" ixy="0.0" ixz="0.0" iyy="0.006804" iyz="0.000311"
                    izz="0.004629" />
            </inertial>
            <visual>
                <origin rpy="0 0 0" xyz="0.0 0.0707 -1.14" />
                <geometry>
                    <mesh filename="package://lbr_description/meshes/iiwa7/visual/link_6.dae" />
                </geometry>
            </visual>
            <collision>
                <origin rpy="0 0 0" xyz="0.0 0.0707 -1.14" />
                <geometry>
                    <mesh filename="package://lbr_description/meshes/iiwa7/collision/link_6.stl" />
                </geometry>
            </collision>
        </link>

        <joint name="${joint_a7_name}" type="revolute">
            <origin rpy="0 0 0" xyz="0.0 0.0707 0.091" />
            <parent link="${link_6_name}" />
            <child link="${link_7_name}" />
            <axis xyz="0.0 0.0 1.0" />
            <limit
                effort="${joint_limits[joint_a7_name]['effort']}"
                lower="${joint_limits[joint_a7_name]['lower'] * PI / 180}"
                upper="${joint_limits[joint_a7_name]['upper'] * PI / 180}"
                velocity="${joint_limits[joint_a7_name]['velocity'] * PI / 180}" />
            <dynamics damping="${joint_damping}" friction="${joint_friction}" />
        </joint>

        <link name="${link_7_name}">
            <inertial>
                <origin rpy="0 0 0" xyz="3.0000e-06 -2.0000e-06 1.3782e-02" />
                <mass value="0.259474" />
                <inertia ixx="0.000171" ixy="0.0" ixz="0.0" iyy="0.000171" iyz="0.0"
                    izz="0.000299" />
            </inertial>
            <visual>
                <origin rpy="0 0 0" xyz="0.0 0.0 -1.231" />
                <geometry>
                    <mesh filename="package://lbr_description/meshes/iiwa7/visual/link_7.dae" />
                </geometry>
            </visual>
            <collision>
                <origin rpy="0 0 0" xyz="0.0 0.0 -1.231" />
                <geometry>
                    <mesh filename="package://lbr_description/meshes/iiwa7/collision/link_7.stl" />
                </geometry>
            </collision>
        </link>
    </xacro:macro>
</robot>
